{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": ["airbnb"],
  "plugins": ["import", "react-hooks"],
  "rules": {
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "no-console": "off",
    "no-underscore-dangle": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-filename-extension": "off",
    "object-curly-newline": "off",
    "linebreak-style": "off",
    "no-param-reassign": "off",
    "quotes": "off",
    "react/function-component-definition": "off",
    "no-undef": "off",
    "comma-dangle": "off",
    "operator-linebreak": "off",
    "import/order": "off",
    "import/no-useless-path-segments": "off",
    "react/no-unescaped-entities": "off",
    "arrow-body-style": "off",
    "react/self-closing-comp": "off",
    "import/no-duplicates": "off",
    "no-unused-vars": "off",
    "no-alert": "off",
    "max-len": "off",
    "spaced-comment": "off",
    "implicit-arrow-linebreak": "off",
    "react/jsx-props-no-spreading": "off",
    "react/prop-types": "off",
    "react/no-typos": "off",
    "react/require-default-props": "off",
    "react/jsx-wrap-multilines": "off",
    "react/jsx-one-expression-per-line": "off",
    "consistent-return": "off",
    "react/no-array-index-key": "off",
    "react/jsx-curly-brace-presence": "off",
    "prefer-template": "off",
    "react/jsx-closing-tag-location": "off"
  }
}
